<!-- Footer -->
<footer class="footer footer-center sm:footer-horizontal p-4 bg-base-200 text-base-content">
  <div class="grid grid-flow-col gap-4">
    <div class="text-center">
      <span>© <%= new Date().getFullYear() %> <%= config.author %></span>
    </div>
  </div>
</footer>
